/* About Section */
.about-section {
    padding: 4rem 0;
}
    .about-section .profile-pic img {
        max-width: 100%;
        border-radius: 0.5rem;
    }
/* Projects Section */
#projects {
    background-color: #000;
    color: #fff;
    padding: 4rem 0;
}
/* Adjust carousel image height */
.carousel-item img {
    height: 400px;
    object-fit: cover;
    }
/* Contact Section */
.contact-form {
    padding: 4rem 0;
}
/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
}

  